

<div class="bg-black pv5 pv6-l ph3 bg-center cover" style="/*background-image: url('{{.imageUrl}}');*/ height:100vh;">
  <div class="fullscreen-bg z-1">
      <video loop muted autoplay class="fullscreen-bg-video">
          <source src="/video/wt_bg.webm" type="video/webm">
          <source src="/video/wt_bg.mp4" type="video/mp4">
          <source src="/video/wt_bg.ogv" type="video/ogg">
      </video>
    </div>

  <div class="mw7 fullscreen-bg-text ph3 z-2">
    <div class="db mb3">
      <div class="mw7 relative bg-fix-primary mb3">
        <h1 class="f2 f1-l b di lh-title mb3 white mw6">
          {{.title}}
        </h1>
      </div>
      <div class="mw7 relative bg-fix-primary">
        {{ if .subtitle }}
        <p class="b f4 di lh-title mb3 white mw6">
          {{.subtitle}}
        </p>
        {{ end }}
        {{ if .cta }}
          <a href="{{.link}}" class="btn raise bg-black white">{{.cta}}</a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
