<div class="white bg-black pv5">
	<div class="ph3 mw7 center">

		<div class="flex-l mhn2-l">
			<div class="w-40-l ph2-l mb4">
				<h2 class="f3 b lh-title mb2">{{.heading}}</h2>

				<p>{{.text}}</p>

				<a href="{{.buttonLink}}" class="btn raise">{{.buttonText}}</a>
			</div>

			<div class="w-60-l ph2-l">
				<a name="reel"></a>
				<!-- <img src="{{.image}}" alt="" class="mb3"> -->
				<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/282155368' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
			</div>
		</div>


	</div>
</div>
