{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" .Params.image "title" .Title "subtitle" .Params.subtitle "cta" .Params.cta "link" .Params.link) }}

<!-- {{ partial "short-text" .Params.blurb}} -->
<div class="pb3 bg-black"><a name="about">&nbsp;</a></div>
{{ partial "text-and-image" (dict "heading" .Params.approach.heading "text" .Params.approach.text "buttonText" "Get in touch" "buttonLink" "#contact") }}

<!-- {{ partial "blog" . }} -->
<div class="mb4"><a name="services">&nbsp;</a></div>
{{ partial "3-up" .Params }}

<div class="mb4"><a name="clients">&nbsp;</a></div>
<div class="w-100 tc bg-grey-4 white pv4">
	<h3 class="f3 b mt3">Our Clients</h3>
	<img src="{{ .Params.clients }}" alt="" class="tc mw8-l" style="opacity: 0.75;">
</div>

{{ end }}
